1 MANIFEST "GoSwitchHosts.manifest"
MAINICON ICON "GoSwitchHosts.ico"

1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS 0x4
FILETYPE 0x1

BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
			VALUE "CompanyName", "Lofanmi Studio"
			VALUE "FileDescription", "GoSwitchHosts"
			VALUE "FileVersion", "1.0.0.0"
			VALUE "InternalName", "GoSwitchHosts"
			VALUE "LegalCopyright", "Copyright (C) 2025 Lofanmi Studio. All rights reserved."
			VALUE "OriginalFilename", "GoSwitchHosts.exe"
			VALUE "ProductName", "GoSwitchHosts"
			VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
            VALUE "Translation", 0x0409, 0x04B0
    END
END